.body1 {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    background-color: #2d2b45;
}
.container1 {
    margin-left: 40px;
}

.lab {
    font-weight: bolder;
    color: blanchedalmond;
}

.card-title1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    color: rgb(239, 217, 217);
    font-style: italic;
}

.grp {
    margin-bottom: 20px;
}

.password-toggle1{
    position: relative;
}

.password-toggle1 input {
    padding-right: 30px;
}

.toggle-password1{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #007bff;
    /* Bootstrap primary color */
}

.btn-group1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.btn-block1 {
    width: 100%;
    margin-top: 10px;
    /* Add some top margin between buttons */
}

.link1 {
    text-decoration: none;
    color: #007bff;
    /* Bootstrap primary color */
}
.link1:hover {
    text-decoration: underline;
    /* Underline the link on hover */
}
.img{
    border: 2px solid brown;
}